<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="https://hips.hearstapps.com/del.h-cdn.co/assets/18/08/2048x1024/landscape-1519321899-hard-boiled-eggs-horizontal.jpg?resize=1200:*" alt="...">
                <div class="caption">
                    <h3>@ViewData["Title"]</h3>
                    <p>@ViewData["Message"]</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

