@model Westeros.Recipes.Data.Model.Recipe
@using Microsoft.EntityFrameworkCore.Internal
@using Westeros.Recipes.Data.Model
@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Recipe</h4>
<hr />
<div class="row">
    <form asp-action="Create">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cuisine" class="control-label"></label>
                <select asp-for="Cuisine" asp-items="Html.GetEnumSelectList<CuisineType>()" class="form-control"></select>
                <span asp-validation-for="Cuisine" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrepTime" class="control-label"></label>
                <input asp-for="PrepTime" class="form-control" />
                <span asp-validation-for="PrepTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Difficulty" class="control-label"></label>
                <select asp-for="Difficulty" asp-items="Html.GetEnumSelectList<DifficultyType>()" class="form-control" > </select>
                <span asp-validation-for="Difficulty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>

        </div>
    </form>
        @*
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RecipeIngredients.First().Ingredient.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RecipeIngredients.First().IngredientQuantity)
                        </th>
                    </tr>
                </thead>
               *<tbody>
            @for (int i =0; i < Model.RecipeIngredients.Count; i++)
            {
                <tr>
                    <td>@Html.DisplayFor(ingModel => Model.RecipeIngredients[i].Ingredient.Name)</td>



                    @*<td>@Html.TextBox("recipe.RecipeIngredients[" + @i + "].IngredientQuantity", Model.RecipeIngredients[i].IngredientQuantity)</td>
                </tr>
            }
            </tbody>
        </table>*@  
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
