
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

<form method="post">
    <label for="login">Login: </label>
    <input type="text" id="login" name="login" />
    <input type="submit" />
</form>

