@model Westeros.UserProfile.Data.User

@{
    ViewData["Title"] = "Error!";
}

<h2>Error!</h2>

<div>
    <h4>You don't have permission to get to this page.</h4>

    <a asp-action="Index">Back to List</a>
</div>
