@model Westeros.UserProfile.Data.User

@{
    ViewData["Title"] = "WHR";
}

<h2>WHR</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="WHR">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label for="waist">Waist</label>
                <input type="text" id="waist"/>
            </div>
            <div class="form-group">
                <label for="waist">Hip</label>
                <input type="text" id="hip"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-default" />
            </div>
        </form>

        @{TempData["waist"] = ViewBag.waist;}
        @{TempData["hip"] = ViewBag.hip;}

        <h4>@ViewData["Result"]</h4>
    </div>
</div>

<div>
    <!--<a asp-action="Details" asp-route-id="">Back to details</a> |-->
</div>
